<div class=" container-fluid footer">
  <div class="row">

      <!--name-->
      <div class="col-lg-6">
          <h1> Smart House</h1>
          <p> Your ease is our responsibility</p>
      </div>

      <!-- nav-->
      <div class="col-lg-4">

              <a routerLink=""> HOME</a>
              <a routerLink="/app-about"> ABOUT US</a>
              <a routerLink="/app-pricing"> PRICING</a>
              <a routerLink="/app-contact"> CONTACT</a>


      </div>


      <!--socialmedia-->
      <div class="col-lg-2">
           <a href="#" targer="_blank"><i class="bi bi-facebook"></i> </a>
           <a href="#" targer="_blank"><i class="bi bi-whatsapp"></i> </a>
           <a href="#" targer="_blank"><i class="bi bi-instagram"></i> </a>
           <a href="#" targer="_blank"><i class="bi bi-youtube"></i> </a>
      </div>
  </div>
