<div class=" container-fluid footer">
  <div class="row">

      <!--name-->
      <div class="col-lg-6">
          <h1> Smart House</h1>
          <p> Your ease is our responsibility</p>
      </div>

      <!-- nav-->
      <div class="col-lg-4">

      </div>


      <!--socialmedia-->
      <div class="col-lg-2">
        <i class="fa-brands fa-facebook fa-2xl"></i>
        <i class="fa-brands fa-instagram fa-2xl"></i>
        <i class="fa-brands fa-telegram fa-2xl"></i>
        <i class="fa-brands fa-whatsapp fa-2xl"></i>
        <i class="fa-brands fa-youtube fa-2xl"></i>
      </div>
  </div>
