
<div class="main_section">
  <div class="slogan">
      <div class="fix-fix">
          <div class="fix-txt" > <!-- class="ts" -->
          <p class="sp-txt">
              Go As Far As You Can See
          </p>
          <p class="b-txt"> <!--  id="su" -->
              when You Get There
          </p>
          <p class="sp-txt b-txt">
            You'll Be Able To See Farther.
          </p>
          <a routerLink="/sign-up">
              <button type="button" class="btn btn-lg btn-light " >Go FAR!</button>
          </a>
          <a routerLink="/login" class="secondary">
            <button type="button" class="btn btn-secondary btn-lg" > Already signed!</button>
          </a>
          </div>
      </div>
        <div class="slo2">
          <img  src="assets\aa.png" class="img-fluid" alt="responsive image"/>
      </div>


      <div>



  </div>

  </div>
  <div class="cont">
    <div class="arrow">
      <img  src="assets\arrow.jpg.png" class="img-fluid" alt="responsive image"/>
    </div>
</div>



</div>





  <div class="sub_slogan">



      <div class="cont1">
          <span class="sub-slo-tit">WHY US ?/OUR SERVICES ?</span>
      </div>

      <div class="row ay">
          <div class="col-lg-3 loula">
            <div class="sec">
              <img  src="assets\energy.png" class="img-fluid" alt="responsive image"/>
            </div>
              <div class="Write">
                <p class="p1">
                  No More Wasting Energy
                </p>
                <ul class="list-group 1">
                  <li class="LI"> Smart Lighting</li>
                  <li class="LI"> Water economy</li>

                </ul>
              </div>

          </div>
          <div class="col-lg-3 thenya">

              <div class="sec1">
                <img  src="assets\security.png" class="img-fluid" alt="responsive image"/>
              </div>
              <div>

              </div>
              <div >
                <p class="p2">
                  Your Security Is Our Priority
                </p>
                <ul class="list-group 2">
                  <li class="L"> Locked/unclocked doors</li>
                  <li class="L">Locked/unclocked windows</li>
                  <li class="L"> Fire detector</li>
                </ul>
              </div>


          </div>
          <div class="col-lg-3 theltha">
            <div class="sec">
              <img  src="assets\money.png" class="img-fluid" alt="responsive image"/>
            </div>
            <div class="Write">
              <p class="p3">
                All In For An Economical Life
              </p>
              <ul class="list-group 3">
                <li class="LI"> Electricity Bill</li>
                <li class="LI"> Water Bill</li>
              </ul>
            </div>

          </div>
      </div>
</div>





