.main_section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 99vw;
  height: 85vh;
  background-image: #001D3D;
}

.cont2{
  width:99vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.cont2_01{
  width: 50vw;
  height: 70vh;

  margin-left: 20px;
  margin: 30px 0px;

}


.cont2_02{
  width: 30vw;
  height: 70vh;
  margin-top: 110px;

}



.ay{
display: flex;
justify-content:space-around;
flex-direction: column;


}
.loula,.thenya,.theltha,.rab3a{

display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
background-color: #001D3D;
border-radius: 100%;
width: 100px;
height: 100px;


}
/*
.thenya{
background-color:#001D3D;
display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
border-radius: 100%;

}
.theltha{

display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
background-color: #001D3D;
border-radius: 100%;

}
.rab3a{

display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
background-color: #001D3D;
border-radius: 100%;


}
*/
.img-fluid{
border-radius: 100%;
}

.pic1{
display: flex;
justify-items: center;
justify-content:space-between;
padding-top: 10px;
}
.pic2{
display: flex;
justify-items: center;
justify-content:space-between;
padding-top: 10px;
}
.pic3{
display: flex;
justify-items: center;
justify-content:space-between;
padding-top: 10px;
}
.pic4{
display: flex;
justify-items: center;
justify-content:space-between;
padding-top: 10px;
}

.name{
font-size: medium;
display: flex;
justify-items: center;
align-items: center;
}
.desc{
display: flex;
justify-items: center;
margin-left: 1rem;

}
.picture{
display: flex;

}

.title {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 3rem;
font-weight: bolder;
color:#001D3D ;
background-color: white;
text-align: center;
margin-top: -20px;
}

.paragraphe{
font-size: 1.2rem;
color: white;
background-color: #001D3D;
text-align: justify;
padding: 50px;
margin-top: 10px;
border-radius: 5%;


}


.testimonial-card .card-up { height: 120px;
overflow: hidden;
border-top-left-radius:1rem;
border-top-right-radius: 0.25rem;
margin-top: 40px;}
.testimonial-card .avatar {
width: 110px;
margin-top: -70px;
overflow: hidden;
border: 3px solid #fff;
border-radius: 50%;
}

.cl{
  margin-top: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 2rem;
font-weight: bolder;
color: #001D3D;


}

.sati{
  margin-top: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1rem;
font-weight: bolder;
color: #001D3D;
margin-top: 5px;
background-color:white ;
}
.card {
width: 30vw;
}
