<div class="main_section">
  <div class="cont2">
      <div class="cont2_01">
          <h1 class="title"> Who are F.A.R? </h1>
          <p class="paragraphe">
            Notre gamme de produit comprend un large éventail d'appareils et
            des capteurs qui composent les systemes d'alarme,
            controle d'acces etc.La confiance des clients en ces solutions
            permet à Smart House d'afficher un devloppement rapide et dynamique.<br>
            L'une des clés de la reussite de notre societé réside dans l'identification precise
            des besoins et des exigences de nos clients. <br>
            Notre principal objectif est de repondre au besoin de sécurité de nos clients particuliers
            comme professionnels,et,d'élever les standards de qualité dns le domaine de la protection des personnes et des bien.
            l'ensemble de nos equipes apportent le plus grand soin à l'etude au choix et la mise en marche de nos produits.
            Nous travaillons en étroite collaboration avec les plus grand fabricants de produits et solutions de sûreté.
            En constante veille technologique, nous sélectionnons les meilleurs produits du marché afin de toujours proposer
            à nos clients les solutions les pertinentes et les plus fiable.
            Nos équipes peuvent également effectuer des développements spécifique propres à chaque projet, dans l'objectif
            de satisfaire les attentes de nos clients..

          </p>
      </div>
      <div class="cont2_02">
          <div class="row ay">
            <div class="pic1">
              <div class="picture">
                <div class="col-lg-4 loula">
                  <img  src="assets\fatma.png" class="img-fluid" alt="responsive image"/>
                </div>
                <div class="desc">
                  <h1 class="name"> Fatma Dalhoumi</h1>
                </div>
              </div>

            </div>
          <div class="pic2">
            <div class="picture">
              <div class="col-lg-4 thenya">
                <img  src="assets\boy.png" class="img-fluid" alt="responsive image"/>
              </div>
              <div class="desc">
                <h1 class="name"> Ayoub Messadi</h1>
              </div>
            </div>
          </div>
          <div class="pic3">
            <div class="picture">
              <div class="col-lg-4 theltha">
                <img  src="assets\ferdaws.png" class="img-fluid" alt="responsive image"/>
              </div>
              <div class="desc">
                <h1 class="name">Ferdaws Haouala </h1>
              </div>
            </div>
          </div>
          <div class="pic4">
            <div class="picture">
              <div class="col-lg-4 rab3a">
                <img  src="assets\rim.png" class="img-fluid" alt="responsive image"/>
              </div>
              <div class="desc">
                <h1 class="name"> Rim Ben Hamouda</h1>
              </div>
            </div>
          </div>

          </div>

      </div>
  </div>
</div>

<section>
<div class="row d-flex justify-content-center">
  <div class="col-md-10 col-xl-8 text-center">
    <h3 class="mb-4 cl">Our Clients </h3>
    <p class="mb-4 pb-2 mb-md-5 pb-md-0 sati">
      It's All About Our Clients Satisfaction!
    </p>
  </div>
</div>

<div class="row text-center d-flex align-items-stretch">
  <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
    <div class="card testimonial-card">
      <div class="card-up" style="background-color: #A0B4C6;"></div>
      <div class="avatar mx-auto bg-white">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
          class="rounded-circle img-fluid" />
      </div>
      <div class="card-body">
        <h4 class="mb-4"> Dora</h4>
        <hr />
        <p class="dark-grey-text mt-4">
          <i class="fas fa-quote-left pe-2"></i>Great maintenance Services!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
    <div class="card testimonial-card">
      <div class="card-up" style="background-color: #A0B4C6;"></div>
      <div class="avatar mx-auto bg-white">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle img-fluid" />
      </div>
      <div class="card-body">
        <h4 class="mb-4">Selima</h4>
        <hr />
        <p class="dark-grey-text mt-4">
          <i class="fas fa-quote-left pe-2"></i> I love this company! WOW
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-0 d-flex align-items-stretch">
    <div class="card testimonial-card">
      <div class="card-up" style="background-color: #A0B4C6;"></div>
      <div class="avatar mx-auto bg-white">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
          class="rounded-circle img-fluid" />
      </div>
      <div class="card-body">
        <h4 class="mb-4">Karim</h4>
        <hr />
        <p class="dark-grey-text mt-4">
          <i class="fas fa-quote-left pe-2"></i> Great installation services!
        </p>
      </div>
    </div>
  </div>
</div>
</section>



