<div class="carde">
  <h4>
    element
  </h4>
  <mat-card>
    <section class="example-section">
      <mat-checkbox class="example-margin" [formControl]="checkBoxControl" [(ngModel)]="disabled">Disabled</mat-checkbox>
    </section>
    <section class="example-section">
      <mat-slide-toggle
      [formControl]="sliderControl"
      (change) = "onToggle()"
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
        Slide me!
      </mat-slide-toggle>
    </section>
  </mat-card>
</div>
