
.testimonial-card .card-up { height: 120px;
overflow: hidden;
border-top-left-radius:1rem;
border-top-right-radius: 0.25rem;
margin-top: 40px;}
.testimonial-card .avatar {
width: 110px;
margin-top: -70px;
overflow: hidden;
border: 3px solid #fff;
border-radius: 50%;
}

.cl{
  margin-top: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 2rem;
font-weight: bolder;
color: #001D3D;


}

.sati{
  margin-top: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1rem;
font-weight: bolder;
color: #001D3D;
margin-top: 5px;
background-color:white ;
}
.card {
width: 30vw;
}
