
<div class="cont1">
  <div class="row cont1">
    <div class=" ns-col">
      <img src="../../assets/gold.png" alt="">
      <div class="title">
        GOLD PACK
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odio qui neque magnam nobis corporis vel incidunt doloribus tempora? Iste unde culpa porro voluptate reiciendis eligendi veritatis adipisci debitis aliquid.
      </p>
    </div>
    <div class="sp-col">
      <div class="s-title">
        MOST POPULAR
      </div>
      <img src="../../assets/plat.png" alt="">
      <div class="title s-t">
        PLAT PACK
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolores voluptatibus repellendus enim et officia maiores, laborum quas amet consequatur quidem deleniti incidunt ea autem ducimus libero, expedita suscipit necessitatibus.
      </p>
    </div>
    <div class=" ns-col">

      <img src="../../assets/dimand.png" alt="">

      <div class="title">
        DIMOND PACK
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse blanditiis ea optio quidem. Illo quam mollitia obcaecati, quod vel commodi, laboriosam vitae exercitationem ratione repellat quo porro ut, reiciendis architecto.
      </p>
    </div>
  </div>
</div>
